﻿@using System.Web.Mvc
@using Goods.Web.Models.BaseClass
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/MP/MP_login.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script> <!--อ้างอิงให้เอาไฟล์ที่ถูกเรียกใช้ก่อนขึ้นก่อนเสมอ js มักมาก่อน -->
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Goods/StyleSheetGoods.css" rel="stylesheet" />
<div class="login formMem">

    <h2>คุณไม่มีสิทธิ์เข้าใช้งานในหน้านี้!!</h2>
    <button type="button" class="btn btn-success btn-lg formMem" id="BackToList">Back</button>
</div>





