﻿@using GoodsDatabase
@{
    ViewBag.Title = "AddMember";
    Layout = "~/Views/MP/MP_Goods.cshtml";
    var ListData = (tdMember)ViewBag.Memdata;
}

<div class="ContainerMem">
    <h2>Add Member</h2>
    @Html.Partial("frmBasicMember")
    
    <div class="button">
        <button type="button" class="btn btn-success btn-lg" id="AddMem">Add</button>
        <button type="button" class="btn btn-default btn-lg" id="GotoManage">GotoManage</button>
    </div>
</div>


