﻿
@{
    ViewBag.Title = "DetailMember";
    Layout = "~/Views/MP/MP_Goods.cshtml";
}


<div class="ContainerMem">
    <h2>DetailMember</h2>
    @Html.Partial("frmBasicMember")

    <div class="button">
        <button type="button" class="btn btn-default btn-lg" id="GotoManage">GotoManage</button>
    </div>
</div>
<script>
    $("input[type=text]").attr("readonly", true);
    $("input[type=radio]").attr("disabled", true);
    $("input[type=email]").attr("readonly", true);
    $("input[type=password]").attr("readonly", true);
    
</script>


