﻿
@{
    ViewBag.Title = "EditMember";
    Layout = "~/Views/MP/MP_Goods.cshtml";
}


<div class="ContainerMem">
    <h2>EditMember</h2>
    @Html.Partial("frmBasicMember")

    <div class="button">
        <button type="button" class="btn btn-success btn-lg" id="SaveEditMem">SaveEdit</button>
        <button type="button" class="btn btn-default btn-lg" id="GotoManage">GotoManage</button>
    </div>
</div>
