﻿@using GoodsDatabase
@{
    var ListData = (tdMember)ViewBag.Memdata;
}
    <form class="form-horizontal formMem" id="frm-Member">
        <div class="form-group">
            <label class="col-sm-4 control-label">รหัสสมาชิก</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="MemberID" name="MemberID" placeholder="รหัสสมาชิก" value="@ListData.MemberID" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">ชื่อสมาชิก</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="ชื่อ" value="@ListData.FirstName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">นามสกุล</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="LastName" name="LastName" placeholder="นามสกุล" value="@ListData.LastName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">อายุ</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="Age" name="Age" placeholder="อายุ" value="@ListData.Age">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Email</label>
            <div class="col-sm-7">
                <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" value="@ListData.Email">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">เบอร์ไทร</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="Phone" name="Phone" placeholder="เบอร์ไทร" value="@ListData.Phone">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Member Type</label>
            <div class="col-sm-7">
                @{
                    var UserStatus = ListData.MemberType;

                    var normal1 = UserStatus == 1 ? "checked" : "";
                }
                <input type="radio" id="MemberType1" name="MemberType" value="1" @normal1> ผู้ดูแล  
                 @{
                    var UserStatus2 = ListData.MemberType;

                    var normal2 = UserStatus2 == 2 ? "checked" : "";
                }          
                <input type="radio" id="MemberType2" name="MemberType" value="2" @normal2> บุคคลทั่วไป<br>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Username</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="UserName" name="UserName" placeholder="Username" value="@ListData.UserName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Password</label>
            <div class="col-sm-7">
                <input type="password" class="form-control" id="Password" name="Password" placeholder="Password" value="@ListData.Password">
            </div>
        </div>
    </form>

