﻿@using System.Web.Mvc
@using Goods.Web.Models.BaseClass
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/MP/MP_login.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script> <!--อ้างอิงให้เอาไฟล์ที่ถูกเรียกใช้ก่อนขึ้นก่อนเสมอ js มักมาก่อน -->
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Goods/StyleSheetGoods.css" rel="stylesheet" />
<div class="login">
<h2>Login</h2>
    <form class="form-horizontal" id="frm-goods">
        <div class="form-group">
            <label class="col-sm-4 control-label">User Name</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="UserName" name="UserName" placeholder="UserName" value="" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Password</label>
            <div class="col-sm-7">
                <input type="password" class="form-control" id="Password" name="Password" placeholder="Password" value="">
            </div>
        </div>      
    </form>    
    <button type="button" class="btn btn-success btn-sm FpRight" id="login">login</button>
</div>

