﻿@using Goods.Web.Models.BaseClass
@using GoodsDatabase
@{
    ViewBag.Title = "ManageMember";
    Layout = "~/Views/MP/MP_Goods.cshtml";
    var ListData = (List<tdMember>)ViewBag.listMember;
}

<div class="center">
    <button type="button" class="btn btn-success btn-lg FpRight button col-sm-1" id="gotoNewMem">New</button>
    <table class="table table-condensed List">
        <tr>
            <td><h4>MemberID</h4></td>
            <td><h4>FirstName</h4></td>
            <td><h4>LastName</h4></td>
            <td><h4>Age</h4></td>
            <td><h4>Email</h4></td>
            <td><h4>Phone</h4></td>
            <td><h4>Member Type</h4></td>
            <td><h4>Username</h4></td>
            <td><h4>Password</h4></td>
            <td></td>
        </tr>
        @foreach (var item in ListData)
        {
            <tr>
                <td>@item.MemberID</td>
                <td><a href="DetailMember?id=@item.MemberID">@item.FirstName</a></td>
                <td>@item.LastName</td>
                <td>@item.Age</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>@item.MemberType</td>
                <td>@item.UserName</td>
                <td>@item.Password</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm FpRight" id="EditMem" onclick="gotoEditMem('@item.MemberID')">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm FpRight" id="deleteMem" onclick="gotoDeleteMem('@item.MemberID')">Delete</button>
                </td>
            </tr>
        }
    </table>
</div>   