﻿.Detail{
    margin:auto;
    padding:30px;
}

.formContainer{
    margin: auto;
    width: 100%;
    height: 280px;
}
.formleft{
    width: 30%;
    float: left;
    margin: 20px 5px 20px 15%;
}
.formRight{
    width: 30%;
    float: right;
    margin: 60px 20% 15px 0px;
}
.button{
    float:right;
    margin:15px 23% 20px 20px;
}

.List{
    float:left;
    margin:auto;
}

.center{
    width:70%;
    margin:auto;
    padding:30px;
}

.FoLeft{
    float:left;
}
.FpRight{
    float:right;
    margin-right:15px;
}

.topbar{
    background-color:#0063B1;
    width:100%;
    height:60px;
}
.logout{
    margin:15px;
    width:60px;
    float:right;
}

.login{
   margin:auto auto;
   width: 30%;
   height: 240px;
}
.ContainerMem{
    margin: auto;
    width: 40%;
    height: initial;
}
.formMem{
    margin-top:40px;

}
.menulist{
	margin: 0px;
	padding: 0px;
	float: left;
	height: 59px;
    background-color:#0063B1;
}
.menulist li{   
 	padding: 17px 23px 21px 16.97px;
	cursor: pointer;
	list-style: none;
	color: #ffffff;
	float:left;
	font-size: 16px;
	background-color: #0063B1; 
}
.menulist li:hover{  
 	background-color:#437bc0; 
}