﻿@using Goods.Web.Models.BaseClass
@{
    Layout = null;
    var name = (UserLoginModel)ViewBag.Namelogin;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script> <!--อ้างอิงให้เอาไฟล์ที่ถูกเรียกใช้ก่อนขึ้นก่อนเสมอ js มักมาก่อน -->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Member/Member.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Goods/StyleSheetGoods.css" rel="stylesheet" />
   
</head>
<body>
    <div class="topbar">
        <div>
            <ul class="menulist">                     
                <li class="Goods">Goods</li>
                @if (name.MemberType != 2)
                {
                    <li class="Member">Manage Member</li>
                }
            </ul>
        </div> 
        <div class="logout">
            <button type="button" class="btn btn-success btn-sm" id="logout">logout</button>
        </div>
        <div style="float:right; width:initial; height:initial; margin:20px; color:#ffffff">
            @name.FirstName  @name.LastName
        </div>
    </div>
    @RenderBody()

</body>
</html>
