﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script> <!--อ้างอิงให้เอาไฟล์ที่ถูกเรียกใช้ก่อนขึ้นก่อนเสมอ js มักมาก่อน -->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Member/Member.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Goods/StyleSheetGoods.css" rel="stylesheet" />
    
</head>
<body>
    @RenderBody()
</body>
</html>