﻿@using GoodsDatabase
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/MP/MP_Goods.cshtml";
    var Data = (GoodsDetail)ViewBag.Product;
}

<div class="Detail">
    <h2>Detail</h2>
    @Html.Partial("frmBasicData")
    <div class="button">
        <button type="button" class="btn btn-primary btn-lg" id="Edit" onclick="gotoEdit('@Data.ProductID')">Edit</button>
        <button type="button" class="btn btn-default btn-lg" id="GotoList">GotoList</button>
    </div>
</div>
<script src="~/Scripts/Goods/JavaScriptGoods.js"></script>
<script>
    $("input[type=text],textarea").attr("readonly", true);
</script>
