﻿@using GoodsDatabase
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/MP/MP_Goods.cshtml"; 
}

<div class="Detail">
    <h2> Edit</h2>     
    @Html.Partial("frmBasicData") 
    <div class="button">
        <button type="button" class="btn btn-success btn-lg" id="SaveEdit">SaveEdit</button>
        <button type="button" class="btn btn-default btn-lg" id="GotoList">GotoList</button>
    </div>
</div>
<script src="~/Scripts/Goods/JavaScriptGoods.js"></script>
