﻿@using GoodsDatabase
@{
    ViewBag.Title = "Edit";
    var ListData = (GoodsDetail)ViewBag.Product;
}

 
    <div class="formContainer">   
        <form class="form-horizontal formleft" id="frm-goods">
            <div class="form-group">
                <label class="col-sm-4 control-label">รหัสสินค้า</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="ProductID" name="ProductID" placeholder="รหัสสินค้า" value="@ListData.ProductID" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">ชื่อสินค้า</label>
                <div class="col-sm-7">
                    <textarea class="form-control" rows="3" id="ProductName" name="ProductName" placeholder="ชื่อสินค้า">@ListData.ProductName</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">ชื่อทางการตลาด</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="MarketingName" name="MarketingName" placeholder="ชื่อทางการตลาด" value="@ListData.MarketingName">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">ชื่อในการออกบิล</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="BillingName" name="BillingName" placeholder="ชื่อในการออกบิล" value="@ListData.BillingName">
                </div>
            </div>
        </form>
        <form class="form-horizontal formRight" id="frm-goods2">
            <div class="form-group">
                <label class="col-md-4 control-label">หน่วยนับหลัก</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="Unit" name="Unit" placeholder="หน่วยนับหลัก" value="@ListData.Unit">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">ประเภทสินค้า</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="Category" name="Category" placeholder="ประเภทสินค้า" value="@ListData.Category">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">การคิดต้นทุน</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="Costing" name="Costing" placeholder="การคิดต้นทุน" value="@ListData.Costing">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">ประเภทภาษี</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="TypeOfTax" name="TypeOfTax" placeholder="ประเภทภาษี" value="@ListData.TypeOfTax">
                </div>
            </div>
        </form>   
</div> 