﻿@using GoodsDatabase
@{
    ViewBag.Title = "List";
    Layout = "~/Views/MP/MP_Goods.cshtml";
    var ListData = (List<GoodsDetail>)ViewBag.listProduct;
}


<div class="center">
    <button type="button" class="btn btn-success btn-lg FpRight button col-sm-1" id="gotoNew">New</button>
    <table class="table table-condensed List">
        <tr>
            <td><h4>ProductID</h4></td>
            <td><h4>ProductName</h4></td>
            <td><h4>Unit</h4></td>
            <td><h4>MarketingName</h4></td>
            <td><h4>Category</h4></td>
            <td><h4>BillingName</h4></td>
            <td><h4>Costing</h4></td>
            <td><h4>Type Of Tax</h4></td>
            <td></td>
        </tr>
        @foreach (var item in ListData)
        {
            <tr>
                <td>@item.ProductID</td>
                <td><a href="Detail?id=@item.ProductID">@item.ProductName</a></td>
                <td>@item.Unit</td>
                <td>@item.MarketingName</td>
                <td>@item.Category</td>
                <td>@item.BillingName</td>
                <td>@item.Costing</td>
                <td>@item.TypeOfTax</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm FpRight" id="Edit" onclick="gotoEdit('@item.ProductID')">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm FpRight" id="delete" onclick="gotoDelete('@item.ProductID')">Delete</button>
                </td>
            </tr>
        }
    </table>
</div>   
<script src="~/Scripts/Goods/JavaScriptGoods.js"></script>
