﻿@using Goods.Web.Controllers
@using Goods.Web.Models.Goods
@{
    ViewBag.Title = "New";
    Layout = "~/Views/MP/MP_Goods.cshtml";
}

<div class="Detail">
    <h2> New</h2> 
    @Html.Partial("frmBasicData")
    <div class="button">
        <button type="button" class="btn btn-success btn-lg" id="Save">Save</button>
        <button type="button" class="btn btn-default btn-lg" id="GotoList">GotoList</button>
    </div>
</div>
<script src="~/Scripts/Goods/JavaScriptGoods.js"></script>

